@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();
    bool search = Session["Search"] != null ? (bool)Session["Search"] : false;
    string searchString = Session["SearchString"] != null ? (string)Session["SearchString"] : "";
    int currentContactId = Session["CurrentContactId"] != null ? (int)Session["CurrentContactId"] : 0;
    string currentContactName = Session["CurrentContactName"] != null ? (string)Session["CurrentContactName"] : "";
}

<div class="section roundedBorder">
    <div class="headerMenu">
        <a class="siteIcon" href="/contacts/list"></a>
        <!-- Direct action context command icons -->
        @switch (action)
        {
            case "list":
                <div class="pageTitle">Contacts</div>
                <div id="mainMenuPanel" class="menu">
                    <a href="/@controller/Create" class="cmdIcon fa fa-circle-plus" title="Ajouter..."></a>
                    <a href="/@controller/ToggleSearch" id="cmdToggleSearch" class="cmdIcon fa fa-search" title="Recherche..."></a>
                    <!-- Dropdown menu -->
                    <div id="menu" class="dropdown ms-auto">
                        <!-- Menu acces icon -->
                        <div data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="cmdIcon fa fa-bars" title="Menu"></i>
                        </div>
                        <!-- Menu items -->
                        <div class="dropdown-menu noselect" id="DDMenu">
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-address-card"></i>Profil...
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-sign-out"></i> Déconnexion...
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-users"></i> Gestion des usagers...
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-calendar-days"></i> Historique de connexions...
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-info-circle"></i>
                                <a href="/@controller/About">À propos...</a>
                            </div>
                        </div>
                    </div>
                </div>
                break;
            case "details":
                <div class="pageTitle">Détails</div>
                <div id="mainMenuPanel" class="menu">
                    <a href="/@controller/Edit" class="cmdIcon fa fa-pen-to-square" title="Modifier..."></a>
                    <i class="cmdIcon fa fa-trash-can"
                       title="Effacer"
                       onclick="bootbox.confirm('<b style=color:red>Effacer le contact : </b><h3>@currentContactName?</h3>', function(result){ if (result) window.location = '/@controller/Delete'; })">
                    </i>
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="retour"></a>
                </div>
                break;
            case "create":
                <div class="pageTitle">Ajout</div>
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                </div>
                break;
            case "edit":
                <div class="pageTitle">Modification</div>
                <div id="mainMenuPanel" class="menu">
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a href="/@controller/Details/@currentContactId" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                </div>
                break;
            case "about":
                <div class="pageTitle">À propos</div>
                <div id="mainMenuPanel" class="menu">
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="Retour"></a>
                </div>
                break;
        }

    </div>
</div>
@if (action == "list" && search)
{
    <input type="search" id="searchInput" class="section roundedBorder" value="@searchString" placeholder="Recherche...">
}


