<!--
    The content of this view rely on the one produced 
    by the /Contacts/GetContacts action that call
    Views/Contacts/GetContacts.cshtml partial view
-->

<div id="ContactListPanel" class="contactListLayout">
    <!-- Periodicaly refreshed by object contactListPanel of class AutoRefreshedPanel -->
</div>

@section Scripts {
    <script>
        $(() => {
            let contactListPanel = new AutoRefreshedPanel("ContactListPanel", "/Contacts/GetContacts", 10 /* refresh every 5 seconds */);
            let townSelectAutoRefreshPanel = new AutoRefreshedPanel("TownSelectPanel", "/Contacts/GetContactsTownsList", 20, AttachEvents);
            let keywordsOnchangeTimger = null;
            $("#searchInput").on('keyup', function () {
                clearTimeout(keywordsOnchangeTimger);
                /* delay request by 0.5 seconds */
                keywordsOnchangeTimger = setTimeout(() => {
                    window.location = "/Contacts/SetSearchString?value=" + $("#searchInput").val();
                }, 500 /* 0.5 seconds */);
            });
            $("#searchInput").on('search', function () { /* click on clear */
                clearTimeout(keywordsOnchangeTimger);
                window.location = "/Contacts/SetSearchString?value=" + $("#searchInput").val();
            });
            function AttachEvents() {
                $("#townSelect").off();
                $("#townSelect").on('change', function () {
                    window.location = "/Contacts/SetSearchTown?value=" + $("#townSelect").val();
                });
                $("#townSelect").on('mouseenter', townSelectAutoRefreshPanel.pause);
                $("#townSelect").on('mouseleave', townSelectAutoRefreshPanel.restart);
            }
        })
    </script>
}