<!--
    The content of this view rely on the one produced 
    by the /Contacts/GetContacts action that call
    Views/Contacts/GetContacts.cshtml partial view
-->

<div id="ContactListPanel" class="contactListLayout">
    <!-- Periodicaly refreshed by object contactListPanel of class AutoRefreshedPanel -->
</div>

@section Scripts {
    <script>
        $(() => {
            let contactListAutoRefreshPanel = new AutoRefreshedPanel("ContactListPanel", "/Contacts/GetContacts", 5, contactListPostRefresh);
            let townSelectAutoRefreshPanel = new AutoRefreshedPanel("TownSelectPanel", "/Contacts/GetContactsTownsList", -1 /* manually refreshed */, townSelectPostRefresh);
            let keywordsOnchangeTimer = null;

            $("#searchInput").on('keyup', function () {
                clearTimeout(keywordsOnchangeTimer);
                /* delay request by 0.5 seconds */
                keywordsOnchangeTimer = setTimeout(() => {
                    window.location = "/Contacts/SetSearchString?value=" + $("#searchInput").val();
                }, 500 /* 0.5 seconds */);
            });
            $("#searchInput").on('search', function () { /* click on clear */
                clearTimeout(keywordsOnchangeTimer);
                window.location = "/Contacts/SetSearchString?value=" + $("#searchInput").val();
            });
            $("#searchInput").focus(function () {
                contactListAutoRefreshPanel.pause();
            });
            $("#searchInput").blur(function () {
                contactListAutoRefreshPanel.restart();
            });
            function contactListPostRefresh() {
                townSelectAutoRefreshPanel.refresh(true);
            }
            function townSelectPostRefresh() {

                $("#townSelect").off();
                $("#townSelect").focus(function () {
                    contactListAutoRefreshPanel.pause();
                });
                $("#townSelect").blur(function () {
                    contactListAutoRefreshPanel.restart();
                });
                $("#townSelect").on('change', function () {
                    window.location = "/Contacts/SetSearchTown?value=" + $("#townSelect").val();
                });
            }
        })
    </script>
}